name: attack
namespace: ""
runtime: quarkus
image: quay.io/redhatdemo/2021-backend-attack
imageDigest: ""
trigger: events
builder: quay.io/boson/faas-quarkus-jvm-builder
builderMap:
  default: quay.io/boson/faas-quarkus-jvm-builder
  jvm: quay.io/boson/faas-quarkus-jvm-builder
  native: quay.io/boson/faas-quarkus-native-builder
envVars:
  SCORINGSERVICE: http://scoring-service.battleships-scoring.svc.cluster.local:8080/
  WATCHMAN: http://watchman.battleships-backend.svc.cluster.local:8080/watch
  CARRIER_SCORE: 100
  DESTROYER_SCORE: 250
  SUBMARINE_SCORE: 150
  BATTLESHIP_SCORE: 200
  HIT_SCORE: 5
  PRODMODE: production
  NAMESPACE: battleships-backend
  BROKER: default
